{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div>
            <select class="form-select-sm mb-3" name="symbol" id="query">
                <option disabled selected>Symbol</option>
                {% for stock in portfolio %}
                    <option value="{{stock['shares']}},{{stock['symbol']}}">{{stock['symbol']}}</option>
                {% endfor %}
            </select>
            <input class="mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <div>
            <input class="btn btn-primary" id="sub" type="submit" value="Sell">
        </div>
    </form>

    <div>&nbsp;</div>
    <h6 style="color: #FF0000">{{message}}</h6>
    <script>

        var query = document.getElementById("query");
        var shares = document.getElementById("shares");
        var message = document.querySelector("h6");

        query.addEventListener("click", check);
        shares.addEventListener("input", check);


        function check(){

            if (query.value && shares.value && 0 < parseInt(shares.value) && parseInt(shares.value) <= parseInt(query.value)){
                document.getElementById("sub").disabled = false;
                shares.style.border = "";
                message.innerHTML=""
            } else {
                document.getElementById("sub").disabled = true;
                if (parseInt(shares.value) > parseInt(query.value)){
                    shares.style.border = "3px solid #FF0000";
                    message.innerHTML="Not enough shares!"
                }
            }
        }
    </script>
{% endblock %}
